.logo
{
  width: 100%;
  height: 100vh;
  padding: 30px 0 55px 0;
  background: url(../../assets/img/Ellipse\ 60.png) 100% 100%/cover no-repeat;
  background-size: cover;
  &__loogotip
  {
    width: 168px;
    height: 36px;
  
  }
  &__mobile
  {
    margin-top: auto;
    margin-bottom: 16px;
    img
    {
      max-width: 100%;
    }
  }
  &__dscr
  {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}

@media (min-width: 680px) 
{
  .logo
  {
    background: #8bcc2e;
    &__mobile
    {
      display: flex;
      align-items: center;
      justify-content: center;
      img
      {
        width: initial;
      }
    }
    &__dscr
    {
      text-align: end;
    }
  }
}